:root {
  --main-color: #121212;
  --main1-color: #f05454;
  --main2-color: #30475e;
  --main3-color: #f5f5f5;
}

body {
  background-color: var(--main3-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* utils style */

.mainTitle {
  font-weight: 400;
  font-size: 36px;
}
.mainTitle span {
  color: var(--main1-color);
}
.sectionTitle {
  font-size: 20px;
  font-weight: 500;
}
.mainParagraph {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}
.mainBtn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mainBtn a {
  margin-right: 16px;
  margin-bottom: 16px;
}
.mainBtnBack{
  width: 100%;
  text-decoration: none;
  padding: 16px;
  padding-right: 32px;
  background-color: var(--main-color);
  color:var(--main3-color) ;
  border-radius: 16px;
  border-bottom-right-radius: 50px;
  transition: 0.5s;
}
.mainBtnBack:hover{
  padding: 16px;
  padding-left: 32px;
  color:var(--main3-color) ;
  background-color: var(--main1-color);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 16px;
}

@media screen and (max-width: 500px) {
  .mainBtnBack{
   margin-top: 128px;
  }
  .mainBtn a {
    margin-right: 16px;
    margin-bottom: 8px;
  }
  .mainTitle {
    font-size: 26px;
  }
  .sectionTitle {
    font-size: 16px;
  }
  .mainParagraph {
    font-size: 12px;
  }
}

.mainBtn1 {
  outline: none;
  border: none;
  background-color: var(--main1-color);
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 4px;
  text-decoration: none;
}
.mainBtn1:hover {
  color: #fff;
}

.mainBtn2 {
  outline: none;
  color: #fff;
  border: 1px solid var(--main3-color);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
}
.mainBtn2:hover {
  color: #fff;
}
.mainBtn3 {
  outline: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
}
.mainBtn3:hover {
  color: #fff;
}
.mainBtn4 {
  outline: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
}
.mainBtn4:hover {
  color: var(--main-color);
}

/* navbar style */

.navbar {
  top: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  background-color: var(--main3-color);
  z-index: 1;
}
.navbar img {
  height: 50px;
  transition: 0.5s;
}
.navbar img:hover {
  transform: scale(1.1);
}

.linkContainer {
  margin-left: auto;
}
.contactLink {
  margin-left: auto;
}
.mainLink {
  font-size: 18px;
  font-weight: 500;
  margin-right: 16px;
  text-decoration: none;
  color: #121212;
  margin-top: 10px;
}
.mainLink:hover {
  color: var(--main1-color);
}
.mainLink div {
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background-color: #000000;
  transition: 0.5s;
}
.mainLink:hover div {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main1-color);
}
.SignUp {
  background-color: var(--main1-color);
  color: #fff;
  border-radius: 8px;
  width: 70px;
  height: 40px;
  text-align: center;
  justify-content: center;
  margin-top: 4px;
}
.SignUp:hover {
  background-color: var(--main1-color);
  color: #fff;
  border-radius: 8px;
  width: 70px;
  height: 40px;
  text-align: center;
  justify-content: center;
  margin-top: 4px;
}
.navbarCollapse {
  background-color: var(--main3-color);
}

/* home style */

.home {
  padding-top: 50px;
  max-width: 100vw;
  min-height: 100vh;
}
.homeContainer {
  margin-top: 64px;
  display: flex;
  height: auto;
}
.homeImg img {
  border-radius: 30px;
}

.infoSection {
  width: 60%;
}
.mainHomeInfo1 {
  width: 97%;
  height: 48.5%;
  border-radius: 30px;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main-color), #a4a4a4);
  padding-top: 64px;
  padding-left: 64px;
}
.mainHomeInfo2 {
  margin-top: 20px;
  width: 97%;
  height: 48.5%;
  display: flex;
  justify-content: space-between;
}

.homeInfoBox1 {
  width: 48.5%;
  height: 98.5%;
  padding: 32px;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main1-color), #8a3030);
  border-radius: 30px;
}
.homeInfoBox2 {
  width: 48.5%;
  height: 98.5%;
  padding: 32px;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main2-color), #6494c4);
  border-radius: 30px;
}

.homeInfoBox1 span {
  font-size: 64px;
  font-weight: 600;
}
.homeInfoBox2 span {
  font-size: 64px;
  font-weight: 600;
}

.homeInfoBox1 div {
  height: 1px;
  width: 100%;
  margin: 32px 0px;
  background-color: var(--main3-color);
}
.homeInfoBox2 div {
  height: 1px;
  width: 100%;
  margin: 32px 0px;
  background-color: var(--main3-color);
}

@media screen and (max-width: 500px) {
  .homeContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .homeImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homeImg img {
    border-radius: 0px;
  }
  .infoSection {
    width: 100%;
  }
  .mainHomeInfo1 {
    margin-top: 16px;
    border-radius: 0px;
    width: 100%;
    height: auto;
    padding: 16px;
    background: var(--main-color);
  }
  .mainHomeInfo2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .homeInfoBox1 {
    width: 100%;
    margin: 0px;
    border-radius: 0%;
    background: var(--main-color);
  }
  .homeInfoBox2 {
    width: 100%;
    margin: 0px;
    border-radius: 0%;
    background: var(--main-color);
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .homeImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .homeImg img {
    border-radius: 0px;
  }
  .infoSection {
    width: 100%;
  }
  .mainHomeInfo1 {
    margin-top: 16px;
    background: var(--main-color);
    border-radius: 0px;
    width: 100%;
    height: auto;
    padding: 16px;
  }
  .mainHomeInfo2 {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeInfoBox1 {
    width: 100%;
    margin: 0px;
    border-radius: 0%;
    background: var(--main-color);
  }
  .homeInfoBox2 {
    width: 100%;
    margin: 0px;
    border-radius: 0%;
    background: var(--main-color);
  }
}

/* Services style */

.services {
  padding-top: 64px;
  margin-top: 128px;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main1-color), #8a3030);
}
.servicesTitle {
  width: 50%;
}
.serviceHolder {
  width: 100%;
  display: flex;
  margin-top: 128px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.serviceBox {
  margin: 32px auto;
  width: 350px;
  padding: 16px;
  display: flex;
  height: 400px;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  background-color: #f0545469;
  transition: 0.5s;
}
.serviceBox:hover {
  color: var(--main3-color);
  background-color: var(--main-color);
  transform: scale(1.1);
}
.serviceBox p,
h1,
a {
  transition: 0.5s;
}

.serviceIcon {
  width: 120px;
  display: flex;
  height: 120px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f05454;
  transition: 0.5s;
}
.serviceBox:hover .serviceIcon {
  background-color: #000;
  padding: 20px;
  border-radius: 30%;
  margin-bottom: 3%;
}
.serviceBox:hover p {
  font-size: 12px;
}
.serviceBox:hover h1 {
  font-size: 28px;
}
.serviceBox:hover a {
  /* padding:4px 8px; */
  font-size: 14px;
  background-color: #000;
}

.serviceBtn {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .servicesTitle {
    width: 100%;
  }
  .serviceHolder {
    width: 100%;
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .servicesTitle {
    width: 100%;
  }
  .serviceHolder {
    width: 100%;
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* about style */

.about {
  margin-top: 30vh;
  margin-bottom: 30vh;
  height: auto;
  color: var(--main3-color);
  background-color: var(--main1-color);
}
.aboutContainer {
  margin-top: 30vh;
  margin-bottom: 30vh;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 32px;
}
.aboutInfo {
  margin-top: 5%;
  margin-right: auto;
  width: 50%;
  align-self: flex-start;
}
.aboutDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutDetails div {
  padding: 12px;
}
.aboutImg {
  margin-top: 5%;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 500px) {
  .aboutContainer {
    margin-top: 30vh;
    /* margin-bottom:30vh;  */
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }
  .aboutInfo {
    margin-top: 5%;
    width: 100%;
  }
  .aboutDetails {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutImg {
    margin-top: 5%;
    right: 0;
    position: static;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .aboutContainer {
    margin-top: 30vh;
    /* margin-bottom:30vh;  */
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }
  .aboutInfo {
    margin-top: 5%;
    width: 100%;
  }
  .aboutDetails {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutImg {
    margin-top: 5%;
    right: 0;
    position: static;
  }
}

/* skill and expertise  style */

.SkillsEndExperience {
  margin-top: 128px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main1-color), #8a3030);
  padding: 128px 0;
}

.explanationServices {
  max-width: 100vw;
  height: auto;
}

.getToKnowMe {
  max-width: 100vw;
  height: auto;
}

.SkillsEndExperienceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills {
  width: 50%;
  margin-bottom: 5vh;
}

.skills h4 {
  margin-top: 32px;
}

.skills p {
  width: 70%;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 500;
}

.skillHolder {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 350px;
}

.skillTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 64px;
}

.skillTitle div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main1-color);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  transition: 0.5s;
}
.skillTitle div:hover {
  padding: 10px;
  border-radius: 20px;
  border-top: none;
  background-color: var(--main-color);
  transform: scale(1.2);
}

.skillTitle img {
  width: 70px;
  margin-bottom: 16px;
}

.experience {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border: none;
}
.experience div {
  width: 100%;
}

.experience h4 {
  margin-bottom: 32px;
}

.experienceHolder {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 32px 0px;
  width: 100%;
}
.experienceHolder span {
  /* margin-right: 32px; */
  width: auto;
}

.experienceBox {
  border-top: 1px solid var(--main3-color);
  padding-top: 16px;
  height: 128px;
  display: flex;
  transition: 0.5s;
}
.experienceBox:hover {
  padding: 10px;
  border-radius: 20px;
  border-top: none;
  color: var(--main3-color);
  background-color: var(--main-color);
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .SkillsEndExperienceContainer {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills {
    width: 100%;
  }

  .skillHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 330px;
  }
  .skills h1 br {
    display: none;
  }

  .skills p {
    text-align: start;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
  }

  .skillTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 32px;
  }

  .experience {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .experienceHolder {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 32px 0px;
  }
}

@media (min-width: 500px) and (max-width: 1220px) {
  .SkillsEndExperienceContainer {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills {
    width: 100%;
  }

  .skills h1 br {
    display: none;
  }

  .skills p {
    text-align: start;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
  }

  .skillHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 330px;
  }

  .skillTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 32px;
  }

  .experience {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .experienceHolder {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 32px 0px;
  }
}

/* Portfolio style */

.Portfolio {
  margin-top: 64px;
  height: auto;
  margin-bottom: 5vh;
  max-width: 100vw;
}

.projectSection {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: auto;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projectBox {
  width: 100%;
  background-color: var(--main-color);
  color: var(--main3-color);
  margin: 32px 0;
  width: 100%;
  height: 440px;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border-radius: 50px;
  overflow: hidden;
}

.projectBox .projectInfo {
  padding: 16px;
  width: 45%;
  height: 100%;
}
.projectBox .projectInfo p {
  margin-bottom: 32px;
}
.projectBox .projectInfo div {
  margin-bottom: 32px;
  margin-top: 5%;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
}
.projectBox img {
  margin-left: 1.4%;
  height: 92%;
  border-radius: 8px;
  transition: 0.5s;
  border-radius: 35px;
}

.totalPages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.PagesButton {
  background-color: var(--main3-color);
  border-radius: 8px;
  padding: 2px 8px;
  margin: 8px;
  color: var(--mainColor3);
  font-weight: 700;
  border: none;
}
.PagesButton:focus {
  color: #fff;
  background-color: var(--main1-color);
}
.showCategory {
  max-width: 100%;
}

.btnX {
  border: none;
  color: #000;
  background-color: var(--main3-color);
  width: 50px;
  margin: 4px;
}
.btnX:focus {
  background-color: var(--main1-color);
  color: var(--main3-color);
  width: 50px;
  border-radius: 4px;
}

.PortfolioNav {
  background-color: var(--main3-color) !important;
}

@media screen and (max-width: 500px) {
  .projectBox {
    background-color: var(--main-color);
    color: var(--main3-color);
    margin: 32px 0;
    width: 100%;
    height: auto;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border-radius: 50px;
  }
  .projectBox .projectInfo {
    padding: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectBox .projectInfo div {
    margin-bottom: 32px;
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 12px;
  }
  .projectBox .projectInfo div span {
    margin: 6px;
  }
  .projectBox img {
    margin: 0;
    height: 92%;
    border-radius: 8px;
    transition: 0.5s;
    border-radius: 35px;
  }
}
@media (min-width: 500px) and (max-width: 1300px) {
  .projectBox {
    background-color: var(--main-color);
    color: var(--main3-color);
    margin: 32px 0;
    width: 100%;
    height: auto;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border-radius: 50px;
  }
  .projectBox .projectInfo {
    padding: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectBox .projectInfo div {
    margin-bottom: 32px;
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 12px;
  }
  .projectBox img {
    margin: 0;
    height: 92%;
    border-radius: 8px;
    transition: 0.5s;
    border-radius: 35px;
  }
}

/* opinions style */
.opinions {
  margin-top: 128px;
  height: auto;
  max-width: 100vw;
  text-align: center;
}

.opinionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SwiperBox {
  margin-top: 128px;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  background: var(--main3-color);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide p {
  font-size: 14px;
}

.opinionBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  height: 100%;
  width: 3px;
  background-color: var(--main1-color);
}
.opinionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}
.opinionsInfo {
  text-align: center;
  margin-top: 5%;
  margin-right: 128;
  width: 50%;
}
.opinionsInfo .mainBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opinionTitle {
  display: flex;
  justify-content: center;
  height: 60px;
}
.opinionTitle div {
  margin-right: 16px;
}

.rating {
  margin-bottom: 10%;
}
.rating i {
  color: var(--main1-color);
}
.line {
  width: 4px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .opinionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding-bottom: 32px;
  }
  .opinionsInfo {
    margin-top: 32px;
    /* border: #000 1px solid; */
    margin-right: 128;
    width: 100%;
  }
  .opinionsInfo p {
    margin-bottom: 12px;
  }
  .opinionsInfo h1 {
    margin-bottom: 12px;
  }

  .SwiperBox {
    margin-top: 32px;
  }
  .swiper {
    width: 100%;
    height: 250px;
  }
}

.PortfolioEntry {
  padding: 1vh;
  color: #fff;
  margin-top: 20vh;
  margin-bottom: 20vh;
  min-height: 40vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  background: linear-gradient(var(--main1-color), black);
}
.PortfolioEntry p {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .PortfolioEntry p {
    width: 100%;
  }
}

.FAQs {
  height: auto;
  max-width: 100vw;
  margin-top: 128px;
  padding: 64px 0px;
}
.FAQsInfo {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.lineAccordion {
  width: 100%;
  height: 2px;
}
.Accordion {
  margin-top: 5vh;
}

/* contactMe style */
.MessageHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.messageBox{
  
margin: 16px;
padding: 16px;
  width: 70%;
  height:auto;
  border: 1px solid var(--main-color);
  flex-wrap: wrap;
  border-radius: 12px ;
}
.messageBox h6 span{
  font-weight: bold;
  padding: 2px;
  border-radius: 2px ;
  margin:2px ;
  color: var(--main1-color);
}

.contactMe {
  margin-top: 128px;
  min-height: 100vh;
  max-width: 100vw;
  color: var(--main3-color);
  background: linear-gradient(to bottom, var(--main1-color), #8a3030);
}

.contactMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactInfo {
  margin-top: 128px;
  width: 50%;
}
.infoHolder {
  margin-top: 64px;
}
.infoBox {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 32px;
  margin-bottom: 32px;
}
.infoBox h2 {
  font-size: 30px;
  font-weight: 400;
}
.infoBox h2 span {
  font-size: 16px;
}
.infoBox h2 span a {
  font-size: 32px;
  margin-right: 8px;
}
.infoBox h2 span a i {
  text-decoration: none;
  color: var(--main3-color);
}
.infoBox div {
  margin-right: 34px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: var(--main1-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactForm {
  margin-top: 200px;
  width: 50%;
  margin-left: 32px;
}


.mainForm {
  color: var(--main3-color);
  width: 47%;
  margin-right: 3%;
  height: 80px;
  border-radius: 25px;
  margin-bottom: 16px;
  border: none;
  padding: 16px;
  background-color: #f56666;
}
.ContactForms textarea{
  color: var(--main3-color);
  width:90%;
  height: 80px;
  border-radius: 25px;
  margin-bottom: 16px;
  border: none;
  padding: 16px;
  background-color: #f56666;
}
.mainForm::placeholder {
  color: var(--main3-color);
}
.mainForm:focus {
  background-color: #f56666;
  outline: none;
  border: none;
}
.mainForm1 {
  color: var(--main3-color);
  width: 97%;
  height: 80px;
  border-radius: 25px;
  margin-bottom: 16px;
  border: none;
  padding: 16px;
  background-color: #f56666;
}
.mainForm1::placeholder {
  color: var(--main3-color);
}
.mainForm1:focus {
  background-color: #f56666;
  outline: none;
  border: none;
}
.mainForm2 {
  color: var(--main3-color);
  width: 97%;
  height: 235px;
  border-radius: 25px;
  margin-bottom: 16px;
  border: none;
  padding: 16px;
  background-color: #f56666;
}
.mainForm2::placeholder {
  color: var(--main3-color);
}
.mainForm2:focus {
  background-color: #f56666;
  outline: none;
  border: none;
}

@media screen and (max-width: 1000px) {
  .contactMeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ContactInfo {
    margin-top: 64px;
    width: 100%;
  }
  .ContactForm {
    margin-top: 16px;
    width: 100%;
    margin-left: 0px;
  }
  .infoBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .infoBox h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .infoBox h2 span {
    font-size: 14px;
  }
  .ContactForm div {
    display: flex;
    flex-direction: column;
  }
  .ContactForm div input {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .contactMeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ContactInfo {
    margin-top: 64px;
    width: 100%;
  }
  .ContactForm {
    margin-top: 16px;
    width: 100%;
  }
}

/*Blog style  */

/* sssssssssssssssssssssssssssssssssssss */
.loadingProject{
  height: 50vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Spinner{
  overflow: hidden;
  background-color:var(--main1-color) ;
  width: 1900px;
  height: 2000px;
}
.navBlog{
  width: 100%;
}
.searchColor {
  background-color: var(--main1-color);
}
.searchColor i{
  border: none;
  outline: none;
 color: var(--main3-color);
}
.searchColor:hover{
  background-color: var(--main1-color);
}
.allCategory{
  font-size: 18px;
  text-decoration: none;
  color:var(--main-color);
}
.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.SearchBlogImg{
  border-radius:16px;
}
.categorySection{
  margin-top: 128px;
}
.blog {
  margin-top: 32px;
  height: auto;
  max-width: 100vw;
}
.searchSection{
  margin-top: 32px;

}
/* ddddddddddddddddddddddddddddddddddddddd */
.BlogDetels {
  margin-top: 128px;
}
.blogInfo {
  width: 50%;
}
.blogHolder {
  width: 100%;
  display: flex;
  margin-top: 128px;
  align-items: center;
  justify-content: center;
}

.blogContainers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogContainers2 {
  margin-top: 128px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blogBox {
  margin-left: 32px;
  width: 380px;
  margin: 26px;
}
.blogBox2 {
  margin-left: 32px;
  width: auto;
  margin: 26px;
}
.blogBox img {
  width: 100%;
  border-radius: 30px;
  filter: grayscale(80%);
  transition: 0.5s;
}
.blogBox:hover img {
  filter: grayscale(0%);
}
.blogBox2 img {
  width: 100%;
  border-radius: 30px;
  filter: grayscale(80%);
  transition: 0.5s;
}
.blogBox2:hover img {
  filter: grayscale(0%);
}

.blogInfos {
  height: auto;
  width: 100%;
  margin-top: 16px;
}
.blogInfos h1 {
  margin-top: 8px;
  font-size: 26px;
}
.blogInfos span {
  margin-bottom: 16px;
}
.BlogWriter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.BlogWriter div {
  margin-right: 32px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlogWriter div div {
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--main1-color);
}

@media screen and (max-width: 300px) {
  .blogInfo {
    width: 100%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 200px;
    margin: 8px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .blogInfo {
    width: 100%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 280px;
    margin: 8px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .blogInfo {
    width: 100%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 400px;
    margin: 8px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .blogInfo {
    width: 100%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 500px;
    margin: 8px;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .blogInfo {
    width: 100%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 600px;
    margin: 8px;
  }
}
@media (min-width: 800px) and (max-width: 1300px) {
  .blogInfo {
    width: 80%;
  }
  .blogHolder {
    margin-top: 32px;
  }
  .blogContainers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBox {
    margin-left: 0;
    width: 800px;
    margin: 8px;
  }
}


.losem{
  color: #000;
}

/*Footer style  */

.Footer {
  max-width: 100%;
}
.FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.FooterInfo {
  margin: 16px 32px;
}
.footerlinks h5 {
  color: var(--main1-color);
}
.footerImg {
  height: 100px;
}

.Line {
  width: 100%;
  height: 4px;
  background-color: #000;
}
.FooterLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}
.accounts li {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--main1-color);
  transition: 0.5s;
}

.accounts li a i {
  transition: 0.5s;
  font-size: 20px;
}
.accounts li:hover {
  background-color: var(--main-color);
  transform: scale(1.2);
}

.mainLinkf {
  margin-bottom: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}
.mainLinkf:hover {
  text-decoration: none;
  color: var(--main1-color);
  transition: 0.5s;
}
.mainLinkf div {
  background-color: #000;
  width: 0%;
  height: 3px;
  transition: 0.5s;
}
.mainLinkf:hover div {
  background-color: var(--main1-color);
  width: 50%;
  height: 3px;
}
.footerInput {
  margin-top: 20%;
  width: 100%;
  height: 50px;
}
.footerInput button {
  background-color: var(--main1-color);
  border: none;
  outline: none;
}
.footerInput input {
  height: 100%;
  border: none;
  outline: none;
}
.footerInput button i {
  color: var(--main3-color);
}
.FooterInfo {
  text-decoration: none;
  color: var(--main1-color);
}
.FooterInfo span {
  text-decoration: none;
  color: var(--main-color);
}
.FooterInfo a {
  text-decoration: none;
  color: var(--main1-color);
}
.Line {
  margin-top: 32px;
  margin-bottom: 16px;
  height: 1px;
}
@media screen and (max-width: 1000px) {
  .FooterInfo {
    margin: 16px;
    text-align: center;
  }
  .FooterLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3vh;
  }
  .FooterLink div {
    margin: 8px 16px;
    color: #001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
/*Portfolio style  */

.Portfolio {
  min-height: auto;
  max-width: 100vw;
}
.projectContainer {
  min-height: auto;
  max-width: 100vw;
}
.portfolio .project {
  margin-top: 80px;
}
.homeInfo h1 span {
  color: var(--main1-color);
}
.PortfolioNav {
  background-color: #fff;
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PortfolioNav a {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .projectContainer {
    margin-top: 100px;
    min-height: auto;
    max-width: 100vw;
  }
}
